* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

img.lego {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    z-index: 2;
}

div.original {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    background: transparent url('./../images/beachy-head.jpg') no-repeat left center;
    background-size: 200% 100%;
    border-right: 5px solid white;
    box-shadow: inset -5px 0 0 white;
}